version: 2.1

jobs:
  build:
    docker:
      - image: circleci/openjdk:11-jdk-buster

    steps:
      - checkout
      - restore_cache: # restore the saved cache after the first run or if `pom.xml` has changed
          key: circleci-demo-java-spring-{{ checksum "pom.xml" }}
      - run: mvn dependency:go-offline # gets the project dependencies
      - save_cache:
          paths:
            - ~/.m2
          key: circleci-demo-java-spring-{{ checksum "pom.xml" }}
      - run: mvn package

  publish_image:
    docker:
      - image: circleci/openjdk:11-jdk-buster

    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
          docker_layer_caching: true
      - run:
          name: Build image
          command: |
            docker build -t "${CIRCLE_PROJECT_REPONAME}" --pull .
      - run:
          name: Publish image
          command: |
            if [[ -n "$CIRCLE_TAG" ]]; then
              repository="${DOCKER_REGISTRY}/${DOCKER_ORG}/cloudwatch-exporter"
              docker tag "${CIRCLE_PROJECT}" "${repository}:${CIRCLE_TAG}"
              docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD $DOCKER_REGISTRY
              docker push "${repository}:${CIRCLE_TAG}"
            fi

workflows:
  version: 2
  cloudwatch_exporter:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - publish_image:
          context: org-global
          requires:
            - build
          filters:
            tags:
              only: /.*/
